
<AuthorizeView>
    <MudIconButton Icon="@ToggleIcon" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggleCallback" />
</AuthorizeView>

<MudSpacer />

<div class="d-flex">
    <AuthorizeView>
        <Authorized>
            <div class="d-flex">
                <MudMenu FullWidth="true">
                    <ActivatorContent>
                        <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary">Account</MudChip>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>
                            <MudLink Underline="Underline.None" Color="Color.Primary" Href="Account/Manage">Profile</MudLink>
                        </MudMenuItem>
                        <MudMenuItem>Sign Out</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </div>


        </Authorized>
        <NotAuthorized>

            <MudNavMenu Rounded="true" Class="d-flex flex-row me-8 app-bar__nav-menu">
                <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Class="me-2">Register</MudNavLink>
                <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
            </MudNavMenu>

        </NotAuthorized>
    </AuthorizeView>

</div>

<MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Href="https://mudblazor.com/" Target="_blank" />
<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />

@code {
    [Parameter]
    public EventCallback DrawerToggleCallback { get; set; }

    [Parameter]
    public bool IsDrawerOpen { get; set; }

    private string ToggleIcon => IsDrawerOpen ? @Icons.Material.Filled.MenuOpen : @Icons.Material.Filled.Menu;
}
